.actions {
  margin-bottom: 10px;
  .icons {
    cursor: pointer;
    margin-bottom: 5px;
    &:first-child {
      margin-right: 10px;
    }
  }
}
.likes {
  cursor: pointer;
  font-weight: 600;
  &:active {
    color: $dark-grey;
  }
}
